<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvk7upC78QcwJw8GeYk9xV6XP7Oq34KKo</string>
	<key>GCM_SENDER_ID</key>
	<string>455768986131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentHubFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>renthub-ee6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>renthub-ee6ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455768986131:ios:a4edb5f4d18940b69de5e6</string>
</dict>
</plist>